<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Items</key>
	<array>
		<dict>
			<key>title</key>
			<string>Personal Details</string>
			<key>isCollapsed</key>
			<true/>
			<key>rows</key>
			<integer>0</integer>
			<key>previousState</key>
			<integer>0</integer>
			<key>subItems</key>
			<array>
				<dict>
					<key>cellID</key>
					<string>CellID</string>
					<key>cellHeight</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>cellID</key>
					<string>CellID</string>
					<key>cellHeight</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>cellID</key>
					<string>CellID</string>
					<key>cellHeight</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>cellID</key>
					<string>CellID</string>
					<key>cellHeight</key>
					<integer>50</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Personal Details</string>
			<key>isCollapsed</key>
			<true/>
			<key>rows</key>
			<integer>0</integer>
			<key>previousState</key>
			<integer>0</integer>
			<key>subItems</key>
			<array>
				<dict>
					<key>cellID</key>
					<string>CellID</string>
					<key>cellHeight</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>cellID</key>
					<string>CellID</string>
					<key>cellHeight</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>cellID</key>
					<string>CellID</string>
					<key>cellHeight</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>cellID</key>
					<string>CellID</string>
					<key>cellHeight</key>
					<integer>50</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
